<div style="width:50%; display:flex; flex-direction:column; justify-content:center; align-items: center; border-radius:20px; border: solid 1px gray; box-shadow: 0 0 10px gray;">
    <br>
    <form method="post" action="AddForm" style="width:300px">
        <input name="Name" type="text" placeholder="Назва альбому" class="form-control"/>
        <br>
        <input type="submit" value="Створити новий альбом"  class="btn btn-secondary" style="width:300px"/>
    </form>
    <br>
</div>