@model IEnumerable<ArtsNamespace.Models.Album>
<form action="Album/GetById" method="get" style="display:flex; flex-direction:column; width:50%;">
    <select name="id">
    @foreach (var album in Model)
    {
        <option value=@album.AlbumId> @album.Name</option>
    }
    </select>
    <br>
    <input type="submit" value="Choose category" />
</form>
<hr />
<form action="Album/AddForm" method="get">
    <input type="submit" value="Add category" />
</form>

